.container{
  width:80%;
  margin: auto;

}
.top-nav{
  height: 30px;
  background-color: #eeeeee;
}
.top-nav li{
  display: inline-block;
  margin-left: 20px;
}
.content-nav{
  height: 30px;
  background-color: #eeeeee;
  
}
.content-nav li{
  display: inline-block;
  margin-left: 20px;
}
.content-list{
  background-color:#eeeeee;
 
}
.content-list li{
  margin: 20px;
}
.content-list-button{
  text-align: center;
}
.content-list-button span{
  margin-left: 10px;
}


